@font-face {
    font-family: LXGW;
    src: url('./LXGW.ttf');
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: LXGW, source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
    font-family: LXGW, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}